.container{
    margin: auto;
    max-width: 1200px;
    min-width: 600px;
    border-radius: 20px;
    background-color: goldenrod;
    padding: 15px;
    border-color: brown;
    border-width: 5px;
    border-style: solid;
}

.heading-content{
    text-align: center;
}

.heading-content .image{
    height: 300px;
    width: auto;
}
body{
    background-color: rgb(213, 180, 97);
}
